<mat-stepper orientation="vertical" [linear]="_isLinear" #stepper>
	<mat-step [stepControl]="_detailsForm">
		<ng-template matStepLabel>{{ 'ldsly.campaigns.new-campaign.details.step-title' | translate }}</ng-template>
		<ldsly-create-campaign-details [form]="_detailsForm" [types]="campaignTypes"> </ldsly-create-campaign-details>
	</mat-step>
	<mat-step [stepControl]="_detailsForm">
		<ng-template matStepLabel>{{ 'ldsly.campaigns.new-campaign.messaging.step-title' | translate }}</ng-template>
		<ldsly-create-campaign-messaging [form]="_messagingForm" [delayUnits]="_delayUnits" (addNewMessageClicked)="_onAddNewMessageClicked()">
		</ldsly-create-campaign-messaging>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Done</ng-template>
		<p>{{ 'ldsly.new-campaign.launch.labels.review-and-launch' | translate }}</p>
		<div>
			<button mat-button matStepperPrevious>{{ 'ldsly.buttons.back' | translate }}</button>
			<button mat-button (click)="_onLaunchCampaignClicked()">{{ 'ldsly.buttons.launch-campaign' | translate }}</button>
		</div>
	</mat-step>
</mat-stepper>
