<div class="virtual-assistant-setup__container">
	<form (ngSubmit)="_onFormSubmitted()" [formGroup]="_newAssistantForm">
		<div>
			<mat-form-field appearance="standard">
				<mat-label>{{ 'ldsly.labels.timezoneIds' | translate }}</mat-label>
				<mat-select formControlName="timezoneId" required>
					<mat-option>--</mat-option>
					<mat-option *ngFor="let timeZone of _availableTimeZones" [value]="timeZone?.timeZoneId">{{ timeZone?.timeZoneId }}</mat-option>
				</mat-select>
				<mat-error *ngIf="_newAssistantForm.get('timezoneId').invalid">{{ _getErrorMessages() }}</mat-error>
			</mat-form-field>
		</div>
		<div class="virtual-assistant-setup__action-buttons">
			<button color="primary" type="submit" [disabled]="_newAssistantForm.invalid || _inProgress" mat-raised-button>
				Create
				<ldsly-spinner *ngIf="_inProgress" [type]="'button'" color="accent" [diameter]="_spinnerDiameter" [strokeWidth]="_spinnerStrokeWidth">
				</ldsly-spinner>
			</button>
		</div>
	</form>
</div>
