mat-form-field {
	width: 100%;
}

.action-buttons :first-child,
.action-buttons :last-child {
	margin-right: 16px;
}

.messaging-container__new-message-btn {
	margin: 16px 0;
}

.messaging-container__remove-new-message-btn {
	display: flex;

	mat-icon {
		margin-left: auto;
	}
}
