<div>
	<form [formGroup]="_form">
		<div>
			<mat-form-field>
				<mat-label>{{ 'ldsly.profile.linked-account-overview.labels.linked-account' | translate }}</mat-label>
				<input matInput [value]="_form.get('username').value['email']" formControlName="username" readonly />
			</mat-form-field>
		</div>
	</form>
	<div class="connected-account__action-buttons">
		<button color="warn" (click)="_onDisconnectRequested()" type="button" [disabled]="_form?.invalid || _inProgress" mat-raised-button>
			{{ 'ldsly.buttons.disconnect-account' | translate }}
			<ldsly-spinner *ngIf="_inProgress" [type]="'button'" color="accent" [diameter]="_spinnerDiameter" [strokeWidth]="_spinnerStrokeWidth">
			</ldsly-spinner>
		</button>
	</div>
</div>
