<div class="link-account-setup__container">
	<form (ngSubmit)="_onFormSubmitted()" [formGroup]="_linkAccountForm">
		<div>
			<mat-form-field appearance="standard">
				<mat-label>{{ 'ldsly.profile.linked-account.setup-account.email' | translate }}</mat-label>
				<input
					matInput
					[placeholder]="'ldsly.profile.linked-account.setup-account.email' | translate"
					type="email"
					name="email"
					formControlName="email"
					required
				/>
				<mat-error *ngIf="_linkAccountForm.get('email').invalid">{{ _getErrorMessages() }}</mat-error>
			</mat-form-field>
		</div>

		<div>
			<mat-form-field appearance="standard">
				<mat-label>{{ 'ldsly.profile.linked-account.setup-account.password' | translate }}</mat-label>
				<input
					matInput
					[placeholder]="'ldsly.profile.linked-account.placeholders.password' | translate"
					type="password"
					name="password"
					formControlName="password"
					required
				/>
				<mat-error *ngIf="_linkAccountForm.get('password').invalid">{{ _getErrorMessages() }}</mat-error>
			</mat-form-field>
		</div>
		<div class="link-account-setup__action-buttons">
			<button color="primary" type="submit" [disabled]="_linkAccountForm.invalid || _inProgress" mat-raised-button>
				{{ 'ldsly.buttons.link' | translate }}
				<ldsly-spinner *ngIf="_inProgress" [type]="'button'" color="accent" [diameter]="_spinnerDiameter" [strokeWidth]="_spinnerStrokeWidth">
				</ldsly-spinner>
			</button>
		</div>
	</form>
</div>
