<div>
	<div>
		<form [formGroup]="_form" (ngSubmit)="_isTwoFactorAuthRequired ? _onSubmitTwoAuthCode() : _onSubmit()">
			<div>
				<div>
					<mat-form-field appearance="standard">
						<mat-label>{{ 'ldsly.profile.link-account.labels.email' | translate }}</mat-label>
						<input matInput formControlName="username" required />
						<mat-error *ngIf="_form?.get('username').invalid">{{ _getErrorMessages() }}</mat-error>
					</mat-form-field>
				</div>
				<div>
					<mat-form-field appearance="standard">
						<mat-label>{{ 'ldsly.profile.link-account.labels.password' | translate }}</mat-label>
						<input matInput formControlName="password" type="password" required />
						<mat-error *ngIf="_form?.get('password').invalid">{{ _getErrorMessages() }}</mat-error>
					</mat-form-field>
				</div>

				<div *ngIf="_isTwoFactorAuthRequired">
					<mat-form-field appearance="standard">
						<mat-label>{{ 'ldsly.profile.link-account.labels.two-factor-auth' | translate }}</mat-label>
						<input matInput formControlName="twoFactorAuthCode" required />
						<mat-error *ngIf="_form?.get('twoFactorAuthCode').invalid">{{ _getErrorMessages() }}</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="link-account__action-buttons">
				<button color="primary" type="submit" [disabled]="_form?.invalid || _inProgress" mat-raised-button>
					{{ 'ldsly.buttons.link' | translate }}
					<ldsly-spinner *ngIf="_inProgress" [type]="'button'" color="accent" [diameter]="_spinnerDiameter" [strokeWidth]="_spinnerStrokeWidth">
					</ldsly-spinner>
				</button>
			</div>
		</form>
	</div>
</div>
