<div class="campaign__container" [ngClass]="_routeAnimationsElements">
	<mat-accordion [hideToggle]="_verticalDivider">
		<ng-container *ngIf="!_verticalDivider; else campaignsDesktop">
			<mat-expansion-panel [@.disabled]="_disableExpansionOnInitLoad" [disabled]="_verticalDivider" [expanded]="_viewNotes">
				<mat-expansion-panel-header>
					<mat-panel-title>
						<div [style.--campaign-name-mobile-font]="_campaignNameMobileFont" class="campaign__name-mobile">
							<span>{{ _campaign?.name }}</span>
						</div>
					</mat-panel-title>
					<mat-panel-description>
						<div [style.--campaign-description-mobile-font]="_campaignDescriptionMobileFont" class="campaign__description-mobile">
							<span>Created 6 days ago</span>
						</div>
					</mat-panel-description>
				</mat-expansion-panel-header>
				<mat-card>
					<div>
						<mat-slide-toggle
							[matTooltip]="'ldsly.campaigns.tooltips.toggle-status' | translate"
							matTooltipPosition="below"
							[checked]="_campaign?.active"
							(change)="_onUpdateActiveClicked($event)"
						></mat-slide-toggle>
					</div>
					<div class="campaign__connections-title">
						<span>{{ 'ldsly.campaigns.connections' | translate }}</span>
					</div>
					<mat-grid-list cols="2" rowHeight="85">
						<mat-grid-tile colspan="2" rowspan="1">
							<div class="campaign__container-mobile">
								<ng-container [formGroup]="_campaignForm">
									<mat-form-field
										[style.--campaign-item-stat-font]="_campaignStatFontSize"
										class="campaign--stats"
										matTooltipPosition="above"
										appearance="outline"
									>
										<mat-label class="campaign__stat-title-mobile">{{ 'ldsly.campaigns.daily-connections-sent' | translate }}</mat-label>
										<input
											matInput
											formControlName="connectionsSentDaily"
											(blur)="_onUpdateCampaignSentConnections()"
											[value]="_campaignForm?.get('connectionsSentDaily')?.value"
										/>
									</mat-form-field>
								</ng-container>
								<!-- </span> -->
							</div>
						</mat-grid-tile>
						<mat-grid-tile colspan="1" rowspan="1" class="">
							<div class="campaign__container-mobile">
								<span [style.--campaign-item-stat-title-font]="_campaignItemStatTitleFont" class="campaign__stat-title-mobile">{{
									'ldsly.campaigns.total-connections-sent' | translate
								}}</span>
								<span [style.--campaign-item-stat-font]="_campaignStatFontSize" class="campaign--stats campaign--stats-color">{{
									_campaign?.totalConnectionsSent
								}}</span>
							</div>
						</mat-grid-tile>

						<mat-grid-tile colspan="1" rowspan="1">
							<div class="campaign__container-mobile">
								<span [style.--campaign-item-stat-title-font]="_campaignItemStatTitleFont" class="campaign__stat-title-mobile">{{
									'ldsly.campaigns.connections-accepted' | translate
								}}</span>
								<span [style.--campaign-item-stat-font]="_campaignStatFontSize" class="campaign--stats campaign--stats-color">{{
									_campaign?.connectionsAccepted
								}}</span>
							</div>
						</mat-grid-tile>

						<mat-grid-tile colspan="1" rowspan="1">
							<div class="campaign__container-mobile">
								<span [style.--campaign-item-stat-title-font]="_campaignItemStatTitleFont" class="campaign__stat-title-mobile">{{
									'ldsly.campaigns.replies' | translate
								}}</span>
								<span [style.--campaign-item-stat-font]="_campaignStatFontSize" class="campaign--stats campaign--stats-color">{{
									_campaign?.replies
								}}</span>
							</div>
						</mat-grid-tile>

						<mat-grid-tile colspan="1" rowspan="1">
							<div class="campaign__container-mobile">
								<span [style.--campaign-item-stat-title-font]="_campaignItemStatTitleFont" class="campaign__stat-title-mobile">{{
									'ldsly.campaigns.profile-views' | translate
								}}</span>
								<span [style.--campaign-item-stat-font]="_campaignStatFontSize" class="campaign--stats campaign--stats-color">{{
									_campaign?.profileViews
								}}</span>
							</div>
						</mat-grid-tile>

						<mat-grid-tile colspan="2" rowspan="1">
							<div class="campaign__action-buttons-mobile">
								<!-- Currently cloning of campaigns requires more work because of primary prospect list and campaign prospect dependencies-->
								<!-- <div>
									<span>
										<mat-icon [matTooltip]="'ldsly.campaigns.tooltips.clone' | translate" matTooltipPosition="below"
											(click)="_onCloneCampaignClicked()">{{ _cloneCampaignIcon }}</mat-icon>
									</span>
								</div> -->
								<div>
									<mat-icon
										[matTooltip]="'ldsly.campaigns.tooltips.view-notes' | translate"
										matTooltipPosition="below"
										(click)="_onToggleNotesSectionMobile()"
										>{{ _notesIcon }}</mat-icon
									>
								</div>
								<div>
									<span>
										<mat-icon
											[matTooltip]="'ldsly.campaigns.tooltips.delete' | translate"
											matTooltipPosition="below"
											(click)="_onDeleteCampaignClicked()"
											>{{ _removeCampaignIcon }}</mat-icon
										>
									</span>
								</div>
							</div>
						</mat-grid-tile>
					</mat-grid-list>
					<div>
						<mat-accordion [style.visibility]="_viewNotesMobile ? 'visibile' : 'hidden'" class="campaign-notes-container__mobile" hideToggle>
							<mat-expansion-panel [@.disabled]="_disableExpansionOnInitLoad" [expanded]="_viewNotesMobile" disabled>
								<ldsly-notes
									[campaignForm]="_campaignForm"
									[textAreaHeight]="'100px'"
									(notesUpdated)="_onUpdateCampaignNotes()"
									(notesClosedAutoSave)="_onNotesClosedAutoSave()"
								></ldsly-notes>
							</mat-expansion-panel>
						</mat-accordion>
					</div>
				</mat-card>
			</mat-expansion-panel>
		</ng-container>
	</mat-accordion>
</div>

<ng-template #campaignsDesktop>
	<mat-expansion-panel [@.disabled]="_disableExpansionOnInitLoad" disabled [expanded]="_viewNotes">
		<mat-expansion-panel-header>
			<mat-panel-description>
				<mat-card>
					<div class="campaign__item">
						<mat-slide-toggle
							[matTooltip]="'ldsly.campaigns.tooltips.toggle-status' | translate"
							matTooltipPosition="below"
							[checked]="_campaign?.active"
							(change)="_onUpdateActiveClicked($event)"
						></mat-slide-toggle>
					</div>
					<div class="campaign-item__container">
						<span [style.--campaign-name-font]="_campaignNameFont" class="campaign-item__name">{{ _campaign?.name }}</span>
						<span [style.--campaign-item-stat-title-font]="_campaignItemStatTitleFont" class="campaign__stat-title">Created 6 days ago</span>
						<mat-icon [matTooltip]="'ldsly.campaigns.tooltips.view-notes' | translate" matTooltipPosition="below" (click)="_onToggleNotesSection()">{{
							_notesIcon
						}}</mat-icon>
					</div>
					<div class="campaign-item__container">
						<span
							[matTooltip]="'ldsly.campaigns.tooltips.edit-daily-connections' | translate"
							matTooltipPosition="above"
							[style.--campaign-item-stat-title-font]="_campaignItemStatTitleFont"
							class="campaign__stat-title"
							>{{ 'ldsly.campaigns.daily-connections-sent' | translate }}</span
						>
						<span [style.--campaign-item-stat-font]="_campaignStatFontSize" class="campaign--stats">
							<ng-container [formGroup]="_campaignForm">
								<input
									matInput
									formControlName="connectionsSentDaily"
									(blur)="_onUpdateCampaignSentConnections()"
									(keyup.enter)="_onUpdateCampaignSentConnections()"
									[value]="_campaignForm?.get('connectionsSentDaily')?.value"
								/>
							</ng-container>
						</span>
					</div>
					<mat-divider [vertical]="_verticalDivider"></mat-divider>
					<div class="campaign-item__container">
						<span [style.--campaign-item-stat-title-font]="_campaignItemStatTitleFont" class="campaign__stat-title">{{
							'ldsly.campaigns.total-connections-sent' | translate
						}}</span>
						<span [style.--campaign-item-stat-font]="_campaignStatFontSize" class="campaign--stats">{{ _campaign?.totalConnectionsSent }}</span>
					</div>
					<mat-divider [vertical]="_verticalDivider"></mat-divider>
					<div class="campaign-item__container">
						<span [style.--campaign-item-stat-title-font]="_campaignItemStatTitleFont" class="campaign__stat-title">{{
							'ldsly.campaigns.connections-accepted' | translate
						}}</span>
						<span [style.--campaign-item-stat-font]="_campaignStatFontSize" class="campaign--stats">{{ _campaign?.connectionsAccepted }}</span>
					</div>
					<mat-divider [vertical]="_verticalDivider"></mat-divider>
					<div class="campaign-item__container">
						<span [style.--campaign-item-stat-title-font]="_campaignItemStatTitleFont" class="campaign__stat-title">{{
							'ldsly.campaigns.replies' | translate
						}}</span>
						<span [style.--campaign-item-stat-font]="_campaignStatFontSize" class="campaign--stats">{{ _campaign?.replies }}</span>
					</div>
					<mat-divider [vertical]="_verticalDivider"></mat-divider>
					<div class="campaign-item__container">
						<span [style.--campaign-item-stat-title-font]="_campaignItemStatTitleFont" class="campaign__stat-title">{{
							'ldsly.campaigns.profile-views' | translate
						}}</span>
						<span [style.--campaign-item-stat-font]="_campaignStatFontSize" class="campaign--stats">{{ _campaign?.profileViews }}</span>
					</div>
					<mat-divider [vertical]="_verticalDivider"></mat-divider>
					<!-- Currently cloning of campaigns requires more work because of primary prospect list and campaign prospect dependencies-->
					<!-- <div class="campaign-item__container">
						<span>
							<mat-icon [matTooltip]="'ldsly.campaigns.tooltips.clone' | translate" matTooltipPosition="below" (click)="_onCloneCampaignClicked()">{{
								_cloneCampaignIcon
								}}</mat-icon>
						</span>
					</div> -->
					<div class="campaign-item__container">
						<span>
							<mat-icon [matTooltip]="'ldsly.campaigns.tooltips.delete' | translate" matTooltipPosition="below" (click)="_onDeleteCampaignClicked()">
								{{ _removeCampaignIcon }}</mat-icon
							>
						</span>
					</div>
				</mat-card>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<ldsly-notes [campaignForm]="_campaignForm" (notesUpdated)="_onUpdateCampaignNotes()" (notesClosedAutoSave)="_onNotesClosedAutoSave()">
		</ldsly-notes>
	</mat-expansion-panel>
</ng-template>
