<div class="two-factor-settings">
	<h3 [style.--account-header]="_accountHeader" class="two-factor-settings--header" @downUpFadeIn>
		{{ 'ldsly.account.security.two-step.title' | translate }}
	</h3>
	<ng-container *ngIf="!loading; else loadingState">
		<div [ngClass]="twoFactorEnabled ? 'two-factor-settings__extra-margin' : null" class="two-factor-settings__state" @downUpFadeIn>
			<div class="two-factor-settings__short-description">
				<span [style.--short-description]="_shortDescriptionFontSize" class="two-factor-settings__description">{{
					'ldsly.account.security.two-step.description' | translate
				}}</span>
			</div>
			<div @downUpFadeIn>
				<div class="two-factor-settings__toggle-state">
					<div class="two-factor-settings__toggle-state-spinner-container">
						<ng-container *ngIf="_twoFactorAuthToggleLoading">
							<ldsly-spinner
								[spinnerColor]="'accent'"
								[type]="'button'"
								[diameter]="_twoFactorAuthToggleSpinnerDiameter"
								[strokeWidth]="_twoFactorAuthToggleSpinnerStrokeWidth"
							>
							</ldsly-spinner>
						</ng-container>
					</div>
					<mat-slide-toggle
						#slideToggle
						[disabled]="_twoFactorAuthToggleLoading"
						[checked]="twoFactorEnabled"
						(change)="_onTwoFactorAuthToggleChanged($event)"
						color="primary"
					></mat-slide-toggle>
				</div>
			</div>
		</div>
		<ng-container *ngIf="twoFactorEnabled">
			<div @downUpFadeIn>
				<div class="two-factor-settings__user-recovery-codes">
					<ldsly-two-factor-authentication-codes
						[codes]="userRecoveryCodes"
						[disabled]="_twoFactorAuthToggleLoading"
						[generatingCodes]="generatingNewRecoveryCodes"
						(generateNewRecoveryCodesClicked)="_onGenerateNew2FaRecoveryCodesClicked()"
					>
					</ldsly-two-factor-authentication-codes>
				</div>
			</div>
		</ng-container>
	</ng-container>
</div>
<ldsly-server-side-error [internalServerErrorDetails]="_internalServerErrorDetails" [problemDetails]="_problemDetails"></ldsly-server-side-error>

<ng-template #loadingState>
	<div class="two-factor-settings__ghost-loading-state">
		<ldsly-ghost-block></ldsly-ghost-block>
	</div>
	<div class="two-factor-settings__ghost-loading-codes">
		<ldsly-ghost-block></ldsly-ghost-block>
	</div>
</ng-template>
