.assistant-information__container {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin-bottom: var(--content-margin);

	.assistant-information__assistant-overview {
		margin-bottom: 18px;
		flex: 1 1 auto;
	}

	.assistant-information__account-overview {
		flex: 1 1 auto;
	}
}
