<div class="assistant-information__container">
	<div class="assistant-information__assistant-overview">
		<ldsly-virtual-assistant-overview
			[form]="_virtualAssistantSetupForm"
			[timeZones]="_timeZones$ | async"
			[virtualAssistantInfo]="_virtualAssistantInfo$ | async"
			[serverErrorOccured]="_serverErrorOccured$ | async"
			(createAssistant)="_onVirtualAssistantRequested($event)"
			(deleteAssistant)="_onDeleteVirtualAssistantRequested()"
		>
		</ldsly-virtual-assistant-overview>
	</div>

	<div class="assistant-information__account-overview">
		<ldsly-linked-account-overview
			[connectForm]="_connectForm"
			[connectedForm]="_connectedForm"
			[serverErrorOccured]="_serverErrorOccured$ | async"
			[disabled]="_isLinkAccountDisabled"
			[connectedInfo]="_connectedInfo$ | async"
			[connectLinkedInAccountResult]="_connectLinkedInAccountResult$ | async"
			(connect)="_onConnectToVirtualAssistant($event)"
			(disconnect)="_onDisconnectRequested()"
			(twoFactorCodeEntered)="_onTwoFactorAuthCodeEntered($event)"
			[twoFactorAuthResult]="_twoFactorAuthResult$ | async"
			(emailChallengePinEntered)="_emailChallengePinEntered($event)"
			[emailChallengePinResult]="_emailChallengePinResult$ | async"
		>
		</ldsly-linked-account-overview>
	</div>
</div>
