@use '@angular/material' as mat;
$ldsly-black-primary: mat.define-palette(mat.$grey-palette, 700, 300, 900);
$ldsly-black-accent: mat.define-palette(mat.$blue-grey-palette, 400);
$ldsly-black-warn: mat.define-palette(mat.$red-palette, 500);

$ldsly-black-theme: mat.define-dark-theme($ldsly-black-primary, $ldsly-black-accent, $ldsly-black-warn);
