@use '@angular/material' as mat;
$ldsly-primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900);
$ldsly-accent: mat.define-palette(mat.$light-blue-palette);
$ldsly-warn: mat.define-palette(mat.$pink-palette, 600);

$ldsly-theme: mat.define-light-theme($ldsly-primary, $ldsly-accent, $ldsly-warn);
