<div class="virtual-assistant__container">
	<form [formGroup]="_form">
		<div>
			<mat-form-field>
				<mat-label>{{ 'ldsly.labels.timezoneIds' | translate }}</mat-label>
				<input matInput [value]="_getTimezoneId()" formControlName="timezoneId" readonly />
			</mat-form-field>
		</div>
	</form>
	<div class="virtual-assistant__action-buttons">
		<button color="warn" (click)="_onDeleteVirtualAssistant()" type="button" [disabled]="_form?.invalid || _inProgress" mat-raised-button>
			{{ 'ldsly.buttons.delete' | translate }}
			<ldsly-spinner *ngIf="_inProgress" [type]="'button'" color="accent" [diameter]="_spinnerDiameter" [strokeWidth]="_spinnerStrokeWidth">
			</ldsly-spinner>
		</button>
	</div>
</div>
