@import '../../../../styles-variables';

.campaigns__container {
	text-align: center;

	.campaign-list__ghost-loading-state {
		height: 56px;
		padding: 8px 0;
		width: 100%;
	}

	.campaigns__item {
		margin: 10px 0;
	}
}

.campaign-list__heading {
	display: flex;
	flex-direction: column;

	.campaign-list__create {
		align-self: flex-end;
	}
}

// consider removing?
._container {
	margin-top: 20px;
}

.main-heading {
	margin: 0 0 20px 20px;
}

@media (min-width: map-get($grid-breakpoints, md)) {
	._container {
		max-width: 855px;
	}
}

@media (min-width: map-get($grid-breakpoints, sm)) {
	.campaign-list__heading {
		flex-flow: row;
		justify-content: space-between;
	}
}
