@import '../../../../styles-variables';

.campaigns__container {
	.campaigns__item {
		margin: 10px 0;
	}
}

@media (min-width: map-get($grid-breakpoints, sm)) {
	.campaign-list__heading {
		flex-flow: row;
		justify-content: space-between;
	}
}
