<div class="_container">
	<div class="_row">
		<div class="column-md-12">
			<h1 class="main-heading">{{ 'ldsly.campaigns.title' | translate }}</h1>
		</div>
	</div>
	<div class="_row _align-items-end">
		<div *ngFor="let campaign of _campaigns$ | async" class="column-md-6 column-lg-4" [ngClass]="routeAnimationsElements">
			<ldsly-campaign-item
				[campaign]="campaign"
				(toggleCampaign)="_onToggleCampaign($event)"
				(deleteCampaign)="_onDeleteCampaign($event)"
				(updateCampaign)="_onUpdateCampaign($event)"
			></ldsly-campaign-item>
		</div>
	</div>
</div>
