<form [formGroup]="_form">
	<div>
		<mat-form-field appearance="standard">
			<mat-label>{{ 'ldsly.campaigns.new-campaign.details.labels.name' | translate }}</mat-label>
			<input matInput [placeholder]="'ldsly.campaigns.new-campaign.placeholders.name' | translate" formControlName="name" required />
		</mat-form-field>
	</div>

	<div formGroupName="primaryProspectList">
		<mat-form-field appearance="standard">
			<mat-label>{{ 'ldsly.campaigns.new-campaign.details.labels.primary-prospect-list' | translate }}</mat-label>
			<input type="text" matInput formControlName="name" [matAutocomplete]="auto" />
			<mat-autocomplete #auto="matAutocomplete" [displayWith]="_displayFn">
				<mat-option *ngFor="let prospectList of _filteredPrimaryProspectLists$ | async" [value]="prospectList">
					{{ prospectList?.name }}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
		<div></div>
		<ng-container formArrayName="searchUrls">
			<div>
				<ng-container *ngFor="let searchUrlControl of _form.get('primaryProspectList').get('searchUrls')['controls']">
					<mat-form-field appearance="standard">
						<mat-label>{{ 'ldsly.campaigns.new-campaign.details.labels.search-url' | translate }}</mat-label>
						<input
							matInput
							[placeholder]="'ldsly.campaigns.new-campaign.placeholders.search-url' | translate"
							[formControl]="searchUrlControl"
							required
						/>
					</mat-form-field>
				</ng-container>
			</div>
			<div class="details-container__add-search-url-btn">
				<button color="accent" mat-button type="button" (click)="_onAddSearchUrlClicked()">
					<mat-icon aria-hidden="false" aria-label="Add search url icon">add</mat-icon>{{ 'ldsly.buttons.add-search-url' | translate }}
				</button>
			</div>
		</ng-container>
	</div>

	<div>
		<mat-form-field appearance="standard">
			<mat-label>{{ 'ldsly.campaigns.new-campaign.details.labels.type' | translate }}</mat-label>
			<mat-select formControlName="campaignType" required>
				<mat-option>--</mat-option>
				<mat-option *ngFor="let campaignType of _campaignTypes" [value]="campaignType?.type">{{ campaignType?.type }}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<div>
		<mat-form-field appearance="standard">
			<mat-label>{{ 'ldsly.campaigns.new-campaign.details.labels.invite-limit' | translate }}</mat-label>
			<input
				type="number"
				matInput
				[placeholder]="'ldsly.campaigns.new-campaign.placeholders.invite-limit' | translate"
				formControlName="dailyInviteLimit"
				required
			/>
		</mat-form-field>
	</div>

	<div>
		<button (click)="_onSaveAndContinue()" color="primary" mat-raised-button matStepperNext>
			{{ 'ldsly.buttons.save-and-continue' | translate }}
		</button>
	</div>
</form>
