<div>
	<ng-container *ngIf="_reportValues$ | async as report">
		<!-- <mat-form-field appearance="fill">
			<mat-label>{{ 'ldsly.dashboard.reports.effectiveness.drop-down' | translate }}</mat-label>
			<mat-select [(value)]="selected">
				<mat-option [value]="report?.id">{{ report?.name }}</mat-option>
			</mat-select>
		</mat-form-field> -->
	</ng-container>
	<ng-container>
		<ldsly-campaign-effectiveness-report
			(chartOptionsLegendUpdated)="_onChartOptionsLegendUpdated($event)"
			[selectedEffectivenessReport]="_selectedEffectivenessReport$ | async"
			[breakpointStateScreenMatcher]="_breakpointStateScreenMatcher$ | async"
		></ldsly-campaign-effectiveness-report>
	</ng-container>
</div>
