<div>
	<!-- <ng-container *ngIf="_reportValues$ | async as report">
		<mat-form-field appearance="fill">
			<mat-label>{{ 'ldsly.dashboard.reports.effectiveness.drop-down' | translate }}</mat-label>
			<mat-select [(value)]="selected">
				<mat-option [value]="report?.id">{{ report?.name }}</mat-option>
			</mat-select>
		</mat-form-field>
	</ng-container> -->
	<ng-container>
		<ldsly-campaign-effectiveness-report
			(chartOptionsUpdated)="_onChartOptionsUpdated($event)"
			[breakpointState]="_breakpointStateScreenMatcher$ | async"
			[selectedEffectivenessReport]="_selectedEffectivenessReport$ | async"
		></ldsly-campaign-effectiveness-report>
	</ng-container>
</div>
